.form{
  max-width: 450px;
  font-family: times new roman;
}
.form fieldset {
background: #FFF8DC;
border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
 font-family: times new roman;
  padding: 20px;
  width: 100%;
}

.form fieldset legend{
  color: black;
  border-top: 1px solid #F4A460;
  border-left: 1px solid #F4A460;
  border-right: 1px solid #F4A460;
  border-bottom: 1px solid #F4A460;
  border-radius: 5px 5px 5px 5px;
  background: #FFF8DC;
  padding: 0px 8px 3px 8px;
  font-weight: bold;
  font-size: 12px;
}

.form input,
.form select,
.form input [type=radio],
.form input[type=file],
.form textarea{
border: 1px solid #F4A460;
border-radius: 3px;
  outline: none;
  color: black;
  padding: 5px 8px 5px 8px;
  background: white;
}