.header {
	background-color: #669D48;
	height: 85px;
	width: 100%;
	text-align: center;

     }

.title { 
	color: #fff;
	text-transform: uppercase;

}

.Hor{
	width: 100%;
	height: 40px;
}
.Horizontal1 .Horizontal2{
	width: 100%;
}

.Horizontal1 ul {
	list-style: none;
	padding: 0;
	margin: 0;

}

.Horizontal1 li a {
	display: block;
	background-color: #fff;
	color: black;
	text-decoration: none;
	font-size: 15px;
	height: 30px;
	line-height: 30px;
	padding: 5px 50px;
	float: left;
	border-right: 1px solid #669D48;
	border-left: 1px solid #669D48;
}

.Horizontal1 li a:hover {
	background-color: #669D48;
	color: #fff;

}
.Horizontal2 ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.Horizontal2 li a {
	display: block;
	background-color: #fff;
	color: black;
	text-decoration: none;
	font-size: 15px;
	height: 30px;
	line-height: 30px;
	padding: 5px 50px;
	float: left;
	border-right: 1px solid #669D48;
}
.Horizontal2 li a:hover {
	background-color: #669D48;
	color: #fff;
}
.tblview {border: 1px solid #ccc;padding: 0;font-size: 14px;}

.tblview tr {padding: 0;margin: 0;}

.tblview th {background: #669D48;color: #fff;padding: 10px;border-top: 1px solid #ccc;border-right: 1px solid #ccc;}

.tblview td {padding: 5px;margin: 0;font-size: 15px;}

.tblview .zebra {background: #eee;}
.iconic {font-size: 20px;color: #bfb5b5;transition: color 0.3s cubic-bezier(0.25, 0.1, 0.1, 0.99);}

.iconic:hover{color: black;}
